ul {
    padding: 0;
}

li {
    margin-left: 32px;
    margin-right: 16px;
    list-style: circle;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 8px;
}

li:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

li p {
    position: relative;
    flex-grow: 1;
    margin-right: 10px;
}

.not-done {
    display: none;
}

.border-done {
    animation: 180ms linear lineThrough forwards;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    border-bottom: 2px solid lightgrey;
}

@keyframes lineThrough {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

.btn-done {
    background-color: #67b98c;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-done:hover {
    background-color: #4e9a6f;
}

.btn-delete {
    background-color: #da5452;
    color: white;
    border: none;
    margin-left: 12px;
    border-radius: 5px;
}

.btn-delete:hover {
    background-color: #b53d3b;
}

.done {
    color: grey;
}