<h2>Your tasks</h2>
<ul>
    <!-- Si le tableau est vide, montrer un message d'erreur -->
    <li *ngIf="tasks.length === 0">You have no tasks.</li>
    <!-- Sinon, afficher la liste des tâches -->
    <li class="task" *ngFor="let task of tasks">
        <p [class.done]="task.done == true">{{ task.description }}<span [ngClass]="{'not-done': task.done == false,
                    'border-done': task.done == true}"></span></p>
        
        <button class="btn-done" (click)="taskComplete(task.id)">Done</button>
        <button class="btn-delete" (click)="deleteTask(task.id)">Delete</button>
    </li>
</ul>