form {
    display: flex;
    margin-inline: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid lightgrey;
}

input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button {
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 8px 16px;
}